version: '3.8'
services:
  api:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    volumes:
      - ./:/code
    env_file:
      - .env
    depends_on:
      - mongo
  streamlit:
    image: python:3.11-slim
    command: bash -c "pip install -r requirements.txt && streamlit run streamlit_app.py --server.port 8501 --server.headless true"
    ports:
      - "8501:8501"
    volumes:
      - ./:/code
    working_dir: /code
    env_file:
      - .env
  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
